@import "../../style.scss";

section {
  margin: 3rem 0;
  padding: 1rem 0;

  > details {
    > div.content {
      padding: 1.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      > figure {
        display: block;
        flex: 1 1 10rem;
        margin: 1.5rem;
        max-width: 20rem;

        > img {
          height: 6rem;
          width: 100%;
          object-fit: contain;
        }

        > figcaption {
          display: none;
          margin-top: 1rem;
          text-align: center;
          font-size: 0.9em;
        }
      }
    }
  }

  &[name="management"] {
    > details > div.content > figure {
      // height: unset;
      margin-top: 2rem;
      > figcaption {
        display: block;
      }
    }
  }

  &[name="design"] {
    > details > div.content > figure {
      // height: unset;
      margin-top: 2rem;
      > figcaption {
        display: block;
      }
    }
  }
}
