// Fonts
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&display=swap"); // Text
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,600,700&display=swap"); // Code

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

pre {
  font-family: "IBM Plex Mono", "serif";

  a {
    font-family: inherit;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-underline-position: under;
  }

  span {
      font-family: inherit;
  }

  &.code {
    span.syntax {
      color: rgb(253, 108, 253);
    }
    span.name {
      color: rgb(72, 169, 248);
    }
    span.function {
      color: #ffd51b;
    }
    span.class {
      color: rgb(0, 255, 0);
    }
  }
}

p,
span,
a {
  font-family: "sans-serif";
}

a {
  color: blue;
}

h1 {
  font-family: "IBM Plex Sans", "sans-serif";
}
