// Fonts
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&display=swap"); // Text
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,600,700&display=swap"); // Code

pre {
  font-family: "IBM Plex Mono", "serif";

  a {
    font-family: inherit;
    font-size: 16px;
  }

  span {
      font-family: inherit;
  }

  &.code {
    span.syntax {
      color: rgb(151, 58, 151);
    }
    span.name {
      color: rgb(97, 158, 214);
    }
    span.function {
      color: #917600;
    }
    span.class {
      color: green;
    }
    span.name {
      color: rgb(0, 162, 255);
    }
  }
}

p,
span,
a {
  font-family: "sans-serif";
}

a {
  color: blue;
}

h1 {
  font-family: "IBM Plex Sans", "sans-serif";
}
